---
import "../styles/global.css";

const currentPath = Astro.url.pathname;
const path = currentPath.split('/').filter(Boolean);

---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>The Humans of Seycove</title>
    </head>
    <body class="bg-amber-50 antialiased">
        <slot />
        <div
		class="bg-amber-50/50 border-1 border-stone-400/0 hover:border-stone-400 backdrop-blur-lg italic text-stone-500 fixed top-2 left-2 h-auto w-auto p-2 rounded-xl flex items-center justify-between z-100 transition-all duration-200"
		aria-label="Home"
	>
		<a href="/" class="ml-2"
			><svg
				xmlns="http://www.w3.org/2000/svg"
				width="20"
				height="20"
				viewBox="0 0 24 24"
				fill="currentColor"
			>
				<path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
			</svg></a
		>
		<a
			href="/"
			class="ml-2 hover:text-stone-600 hover:[font-variation-settings:'wght'_400] [font-variation-settings:'wght'_200] transition-all duration-200"
		>
			Home
		</a>
		{ path.map((chunk) => (
			<span class="ml-2">/</span>
			<a
                href={`/${path.slice(0, path.indexOf(chunk) + 1).join('/')}`}
				class="ml-2 hover:text-stone-600 hover:[font-variation-settings:'wght'_400] [font-variation-settings:'wght'_200] transition-all duration-200"
			>
				{chunk}
			</a>
		))
		}
		
	</div>
    </body>
</html>
